.qf-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 4rem;
}

.qf-divider {
    width: 100%;
    align-self: start;
    padding: 1rem;

    h3 {
        margin-bottom: 0.5rem;
    }
    hr {
        width: 100%;
        border: 0.5px solid var(--light-color);
    }

}

.qf-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.qf-card {
    background-color: var(--card-bg-color);
    padding: 1rem 1rem 2rem 1rem;
    margin: 1rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    transition: all .2s ease-in-out;

    figure {
        margin-top: 1rem;
        width: 250px;
        height: 250px;
        border-radius: 500rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // border-radius: 50%;
        }
    }

    h3 {
        margin: 1rem 0;
    }

    &:hover {
        box-shadow: 2px 7px 15px rgba(0,0,0,0.3);
    }
}
